stages:
  - infrastructure

variables:
  IMAGE_TAG_LATEST: "$CI_REGISTRY_IMAGE:latest"
  IMAGE_TAG_COMMIT: "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"

build_ci_image:
  stage: infrastructure
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - docker build -t "$IMAGE_TAG_LATEST" -t "$IMAGE_TAG_COMMIT" .
    - docker push "$IMAGE_TAG_LATEST"
    - docker push "$IMAGE_TAG_COMMIT"
  only:
    - master
  tags:
    - runner-local
